@model IEnumerable<ReviewSoftMVC.Models.SOFTWARE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEMO_GRATUITO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOPORTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AÑO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIA1.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPRESA1.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_LICENCIA1.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_PLATAFORMA1.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEMO_GRATUITO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOPORTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AÑO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIA1.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPRESA1.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_LICENCIA1.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_PLATAFORMA1.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODIGO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODIGO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODIGO })
        </td>
    </tr>
}

</table>
